HOMENODE_LISTEN='0.0.0.0:8787'
HOMENODE_DB='/mnt/ssd/homenode/data/homenode.db'
HOMENODE_BACKUP_DIR='/mnt/ssd/homenode/data/backups'
HOMENODE_SYSTEM_HEALTH='/mnt/ssd/homenode/data/system-health.json'
HOMENODE_COMPATIBLE_CACHE='/mnt/ssd/homenode/data/compatible-cache'
HOMENODE_MEDIA_ROOT='/mnt/ssd/media'
HOMENODE_ANIME_DIR='/mnt/ssd/media/anime'
HOMENODE_MOVIES_DIR='/mnt/ssd/media/movies'
HOMENODE_MUSIC_DIR='/mnt/ssd/media/music'
HOMENODE_USER=''
HOMENODE_PASSWORD=''
HOMENODE_SESSION_SECRET=''
VPN_BIND_ADDRESS=''
VPN_DEVICES_PATH='/mnt/ssd/homenode/data/vpn-devices'
VPN_SMART_DEVICES_PATH='/mnt/ssd/homenode/data/vpn-smart-devices'
ANILIBERTY_BASE_URL='https://aniliberty.top/api/v1'
TRANSMISSION_RPC_URL='http://192.168.1.1:9091/transmission/rpc'
TRANSMISSION_RPC_USERNAME=''
TRANSMISSION_RPC_PASSWORD=''
RUTRACKER_BASE_URL='https://rutracker.org'
RUTRACKER_PROXY_URL=''
RUTRACKER_USERNAME=''
RUTRACKER_PASSWORD=''
TELEGRAM_BOT_TOKEN=''
TELEGRAM_APP_URL='http://192.168.1.1:8787/'
HOMENODE_INTERNAL_URL='http://192.168.1.1:8787'
FFMPEG_PATH='/usr/bin/ffmpeg'
